:root{
    --mainBackGround : #03071E;
    
    --textColor : #BFBFBF;
    --textColorHover : #fff;
    --pcColor : #2196F3;
    --goldBoxColor : #FFBA08;
    --footerColor : #000000;
    --prodPrice : #fbff00;
}